[Unit]
Description=Shitsquare API Server

[Service]
ExecStart=/usr/bin/node /var/www/shitsquare/api/server.js
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=shitsquare-api

Environment=NODE_ENV=production
Environment=API_PORT=8000

WorkingDirectory=/var/www/shitsquare/api

[Install]
WantedBy=multi-user.target
